* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    background-color: #141414;
  }

  /* navbar section */
.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 3500px;
    margin: 0 auto;
    padding: 0 50px;
  }
  #navbarLogo {
    background-color: orange;
    background-image: linear-gradient(to bottom, purple 0%, pink 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 3rem;
  }
  .fa-spray-can-sparkles {
    margin-right: 0.5rem;
  }
  .navbarMenu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  .navbarItem {
    height: 80px;
  }
  .navbarLinks {
    color: plum;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100px;
  }
  .navbarBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: plum;
    color: navy;
    font-weight: bold;
  }
  .button:hover {
    background: purple;
    transition: all 0.3s ease;
  }
  .navbarLinks:hover {
    color: purple;
    transition: all 0.3s ease;
  }
  #searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
    font-weight: bold;
    color:navy;
    background-color: plum;
    height: 60px;
  }
  input[type=text] {
     width: 10%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }
  input[type=text]:focus {
    width: 20%;
  }
  h3{
    color:orange;
    font-weight: bold;
    font-size: 40px;
    font-style: oblique;
    margin-left: 300px;
  }
  #difference{
    font-style: oblique;
  }
  #quote{
    font-weight: none;
    font-style: italic;
    text-align: center;
    font-family: cursive;
    margin-top: 10%;
    font-size: 25px;
  }

/* images list section*/
.dividedList{
    color:plum;
    margin-right: 50px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    list-style: none;
  }
  .dividedList:hover {
    color: purple;
    transition: all 0.3s ease;
  }
  .productItem{
    cursor: pointer;
  }
  
  /* product info styling */
.productImages{
    margin-bottom: 100px;
  }
  .productInfo{
    margin-right: 30px;
    padding-left: 1.5rem;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:plum;
  }
  #description{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
  }
  #price{
    color: orange;
    margin: 10px;
  }
  .photo{
    color: #fff;
    font-size: 20px;
    margin: 10px;
  }